.App {
  text-align: center;
}

.listPoke {
  border-radius: 15px;
  border-color: rgb(226, 232, 240);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  margin-bottom: 5px;
}

.nama_pokemon {
  margin: auto;
  margin-left: unset;
  font-weight: bold;
}

.nama_pokemon_view {
  text-align: center;
}

.poke_view{
  margin: auto;
  margin-top: unset;
}

.poke_ {
  width: 100px;
}

.css-169pul6 {
  padding: 0px !important;
  font-size: 0.8rem !important;
}